<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .login {
      display: flex;
    }
  </style>
</head>

<body>
<div class="login">
  <form action="/monitor/login" method="post">
    <label>
      用户名
      <input name="username">
    </label>
    <label>
      密码
      <input name="password" type="password">
    </label>
    <input type="submit">
  </form>
</div>
</body>

</html>