<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kingsword.course.dao.ClassesMapper">
  <resultMap id="BaseResultMap" type="xyz.kingsword.course.pojo.Classes">
    <result column="classname" jdbcType="CHAR" property="classname"/>
    <result column="student_num" jdbcType="INTEGER" property="studentNum"/>
    <result column="grade" jdbcType="INTEGER" property="grade"/>
  </resultMap>
  <resultMap id="CourseMap" type="xyz.kingsword.course.pojo.Course">
    <result column="cou_id" jdbcType="CHAR" property="id"/>
    <result column="course_name" jdbcType="CHAR" property="name"/>
  </resultMap>

  <insert id="insert" parameterType="xyz.kingsword.course.pojo.Classes">
    insert into classes (classname, student_num)
    values (#{classname,jdbcType=CHAR}, #{studentNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertList">
    insert ignore into classes(classname, student_num, grade) values
    <foreach collection="collection" separator="," item="item">
      (#{item.classname},#{item.studentNum},#{item.grade})
    </foreach>
  </insert>
  <update id="updateByPrimaryKey" parameterType="xyz.kingsword.course.pojo.Classes">
    update classes
    set grade=#{grade},
        student_num = #{studentNum,jdbcType=INTEGER}
    where classname = #{classname,jdbcType=CHAR}
  </update>
  <update id="updateStudentNum">
    update classes
    set student_num=(SELECT count(id) from student where class_name = #{className})
    where classname = #{className};
  </update>
  <select id="select" resultMap="BaseResultMap">
    select classes.*
    from classes,speciality
    <where>
      <if test="className !=null and className !=''">
        classname like "%"#{className}"%"
      </if>
      <if test="grade >0">
        and grade=#{grade}
      </if>
      <if test="degree == 1">
        and speciality.parent_id &lt; 11
      </if>
      <if test="degree == 2">
        and speciality.parent_id = 11
      </if>
      and classes.speciality=speciality.id
    </where>
    order by grade,classname
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from classes
    order by classname
  </select>
  <select id="findByName" resultMap="BaseResultMap">
    select *
    from classes
    where classname in (
    <foreach collection="list" separator="," item="item">
      #{item}
    </foreach>
    )
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select *
    from classes
    where classname = #{name}
  </select>
</mapper>